.container{
    display: flex;
    justify-content: center;
    border: 1px;
    border-style: solid;
    flex-wrap: wrap;
    width:18cm;
    height:18cm;
}
/* .square{
    flex-wrap: wrap;
    width: 3%;
    margin-inline: 0.05%;
    height: 3%;
    border: 1px;
    border-style: solid;
    border-color: black;
} */