.container{
    display: flex;
    justify-content: center;
    border: 1px;
    border-style: solid;
    flex-wrap: wrap;
    /* width:18cm;
    height:18cm; */
    width: 55vw;
    height: 55vw ;
}
.black{
    background-color: darkgray;
}